<html>
    <body>

    <h2>product update Forms</h2>
 
    <form method="post" asp-controller="Admin" asp-action="ProductUpdate">
    <div class="form-group">
        <label for="name"> name</label><br>
        <input type="text"  value="@Model.Name" id="name" name="name" ><br>
     </div>
 

    <div class="form-group">
        <label for="Description">Description</label><br>
        <input type="text" value="@Model.Description" id="description" name="description"><br>
    </div>


    <div class="form-group">
        <label for="Measure">Unit Of Measure</label><br>
        <input type="text" value="@Model.UnitOfMeasure" id="UnitOfMeasure" name="UnitOfMeasure"><br>
    </div>
    
        <input type="submit" value="update" class="btn btn-primary">
    </form>

</body>
</html>
