
<form  asp-controller="Admin" asp-action="ProductAdd" method="post">

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
    </div>
    <br>

    <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <input type="text" class="form-control" id="description" name="description" />
    </div>
    <br>

    <div class="form-group">
        <label for="exampleInputEmail1">Unit Of Measure</label>
        <input type="text" class="form-control" id="UnitOfMeasure" name="UnitOfMeasure" />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
</form>