
    <h2>Product Group update Forms</h2>

    <form method="post" asp-controller="Admin" asp-action="ProductGroupUpdate">
     
        <label for="name"> Name</label><br>
        <input type="text" class="form-control" value="@Model.Name" id="name" name="name"><br>

        <label for="Description">Description</label><br>
        <input type="text" class="form-control"  value="@Model.Description" id="description" name="description"><br>

        <input type="hidden" class="form-control"  value="@Model.Status" id="Status" name="Status">

        <input type="submit"  value="update" class="btn btn-primary">
    </form>
