
@*@model IEnumerable<pits.Models.Author>*@


<a asp-controller="Admin" asp-action="AddVendor" class="btn btn-primary">Add New Vendor</a>
<table class="table table-stripped mt-2">
    <thead class="bg-black">
        <tr class="text-white">
            <th>ID</th>
            <th> Name</th>
            <th> Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        
    
    
        <tr>
            <td>1</td>
            <td>rr</td>
            <td>rr</td>
            <td>active</td>
            
            <td class="content-center">
                
                <a asp-area="" asp-controller="Admin"  asp-action="Delete"  class="btn btn-danger"> Delete</a>
                <a asp-area="" asp-controller="Admin"  asp-action="Update"  class="btn btn-success"> Update</a>


            </td>
        </tr>

    

    </tbody
 </table>


