<h2>Vendor Update Forms</h2>

<form method="post" asp-controller="Admin" asp-action="VendorUpdate">

    <label for="name"> Name</label><br>
    <input type="text" class="form-control" value="@Model.Name" id="name" name="name"><br>

    <label for="Description">Description</label><br>
    <input type="text" class="form-control" value="@Model.Description" id="description" name="description"><br>


    <input type="submit" value="update" class="btn btn-primary">
</form>